.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  margin: auto;
}
video,
canvas {
  width: 100%;
  height: auto;
}

h2,
p {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 50;
  pointer-events: none;
  border: 1px solid transparent;
}

.responsive-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
}
